body {
    font-family: "baskerville-urw", serif;
    font-weight: 400;
    font-style: normal;
    }
        p {
            font-family: "kozuka-gothic-pro", sans-serif;
            font-weight: 300;
            font-style: normal;
        }
    
      
    .mobile-container {
        max-width: 480px;
        color: #7f5849;
        margin: 0;
        background-color: #f9f3ef;
    }
    
    /*Styling af Navigationen og burgermenuen*/
    
    #topnav {
        overflow: hidden;
        position: relative;
       
        z-index: 100000;
        background-color: #f9f3ef;
      }
    
    nav img {
        width: 100px;
    }
    
    #menu {
        display: none;
        z-index: 9999;
        padding-inline-start: 0;
      }
    
    nav li {
        list-style-type: none;
        z-index:9999;
        text-align: center;
      }
    
      #menu a {
        color: #7f5849;
        text-decoration: none;
        font-size: 15px;
      }
    
      #menu a:hover {
        font-size: 1.1rem;
      }
    
      .fa {
        color: #7f5849;
        padding: 25px 25px;
        text-decoration: none;
        font-size: 40px;
      }
    
      #topnav .icon:hover {
        background-color: #f5efeb;
      }
    
    nav a.icon {
        position: absolute;
        float: right;
        display: block;
        right: 0px;
        top: 10px;
    }
/*styling af indhold*/
  /*----------------------BREAKPOINTS-----------*/
          /*breakpoint 1 */
          @media screen and (max-width: 768px) and (min-width:481px)
          {
            .mobile-container{
              max-width: 768px;
            }
          }



  /*--------------------------------------------*/
            /*breakpoint 2 */
            @media screen and (max-width: 1025px) and (min-width:769px)
            {
              .mobile-container {
                max-width: 1025px;
                background-color:gold;
                }   
               
                .h1 {
                 font-size: 3rem;
                }

                .h2 {
                 font-size: 3rem;
                 }
                 
                .p {
                 font-size: 2.6rem;
                } 
                .h4 {
                  font-size: 2.6rem;
                 } 
/*Styling af Illustrationer, Motion Graphics + sektionen*/

.formular-knapper {
  width: 270px;  
 }

 .formular-knapper {
  width: 400px;  
 }

 .formular-knapper{
  height: 180px;
  width: 180px;
  }

  .formular-knapper {
   margin-left: 15%;
   margin-right: 15%;
  }
 
  .formular-knapper {
   margin-left: 5%;
   margin-right: 5%;
  }
 
  .formular-knapper {
  margin-left: 50%;
  margin-right: 50%;
 }
 
  }
  
        /*breakpoint 3 */
        @media screen and (max-width: 1200px) and (min-width:1026px)
        {
          .mobile-container{
            max-width: 1200px;
          }
        }
          /*breakpoint 4 */
        @media screen and (max-width: 1600px) and (min-width:1201px){
          .mobile-container{
            max-width: 1600px;
          }
        }
/*-----------------------------------------*/

    .kontakt
      { 
        text-align: center;
      }
  
    .kontakt-overskrift { 
      text-align: center;
      font-size: 2.2rem;
      margin-bottom: 5px;
    }

    .kontakt-tekst {
      text-align: center;
      margin: 0% 10%;
    }
    .kontakt {
      background-image: url(/Programmering/img/baggrund-illustration.svg);
      background-size: cover;
  }
    /*styling af kontakt formular*/

    .formular-knapper
    { text-decoration: none;
      color:#7f5849;
      /* color: #ef7b32;*/
      padding: 2px 10px;
      font-size: 1.7rem;
      border-radius: 10px;
    }

      .formular-knapper 
        {
          justify-content: center;
          display: flex;
          margin-left: 95px;
          margin-right: 95px;
          margin-top: 20px;
          margin-bottom: 30px;
          }

      .input{
        background-color: #e9d9c3;
        color: #ef7b32;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      .input:hover{
       color: #f9f3ef; 
      }

      .label{
        color: #7f5849;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }


    /*Styling af pop-up confirmation*/
    .confirmation-message {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #f5efeb;
      padding: 20px;
      border: 1px solid #ccc;
      text-align: center;
    }
   .link a{
    display: none;
   }
   hidden a{
    display: none;
  }


 /*Styling af markedskalender*/
     .kalender {
      height: 200px;
    }
    
     .markedskalender{
      background-color: #f8c576;
      text-align: center;
      padding: 0px 20px 40px 20px;
  }
      .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
      }
      
      .popup .popuptext {
        visibility: hidden;
        width: 200px; 
        background-color: #e9d9c3;
        color: #7f5849;
        text-align: center;
        border-radius: 4px;
        padding: 8px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -100px;
      }
      
      .popup:hover .popuptext {
        visibility: visible;
      }
  
  .nr4 {
    padding: 30px 20px 30px 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  .nr4-overskrift {
    justify-content: center;
    display: flex;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin: 0px 30px 25px 30px;
  }

  .nr4-tekst {
    text-align: center;
    margin: 0% 10%;
  }

  /*Styling af knap retur lær kunsten..*/
  
  .knap {
    text-decoration: none;
    color: #ef7b32;
    background-color:#e9d9c3;
    border-radius: 10px;
    padding: 0px 10px 5px 10px;
    font-size: 1.7rem;
  }

  .knap:hover{
    color: #f9f3ef;
    font-size: 1.8rem
  }
  
     /* Footer */

  footer {
    background-color: #e9d9c3;
    text-align: center;
    padding-top: 20px;
  }

  .menu-footer h3 {
    font-size: 1.5rem;
  }

  .menu-footer a {
    color: #7f5849;
    text-decoration: none;
    font-family: "kozuka-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  footer ul {
    text-align: center;
  }

  footer li {
    list-style-type: none;
    margin: 10px 50px 10px 10px;
  }

  .some h3 {
    font-size: 1.5rem;
  }

  .some img {
    width: 10%;
    display: block;
    padding-left: 120px;
  }

  .some a {
    color: #7f5849;
    text-decoration: none;
    font-family: "kozuka-gothic-pro", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .logo-footer {
    width: 40%;
    margin-right: 40px;
    margin-top: 40px;
  }

  footer p {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  